# Python bytecode
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
venv/
logenv/

# PyCharm
.idea/
!.idea/modules.xml
!.idea/vcs.xml
!.idea/inspectionProfiles

# Jupyter Notebook
.ipynb_checkpoints/

dataset/
data/

# OS
.DS_Store
Thumbs.db


